composer.phar
*composer.phar
.DS_Store
*.DS_Store
/config/config.json
/config/config.json.bak
/dist/img/custom-logo.png
/tmp/
/tmp/*
*/tmp/
*/tmp/*
/data/*
/error/
/stats/
robots.txt
/plugins/*
!/plugins/empty
